<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{ title|default:"Компанія" }}</title>
</head>
<body>

    <nav>
        <a href="{% url 'home' %}">Головна</a> |
        <a href="{% url 'news' %}">Новини</a> |
        <a href="{% url 'management' %}">Керівництво</a> |
        <a href="{% url 'about' %}">Про компанію</a> |
        <a href="{% url 'contacts' %}">Контакти</a> |
        <a href="{% url 'branches_list' %}">Філії</a>
    </nav>

    <h1>{{ title }}</h1>

    {% block content %}
    
    {% endblock %}
</body>
</html>